<!DOCTYPE html>
<html>
  <head>
    <title>DocumentApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= yield :head %>
    <%= Gon::Base.render_data %>
  </head>
  <body>
    <%= render 'header' %>
    <main class="main">
      <%= yield %>
    </main>
    <%= render 'footer' %>
  </body>
</html>
